
.container-cards {
  display: block;
  margin-bottom: 20px;
  height: 100vh;

  .card {
    width: 23%;
    margin-left: 1.5%;
    float: left;
    margin-bottom: 20px;

    .card-title {
      font-weight: bold;
      font-size: 16px;
      color: #8e210b;
    }

    .card-image {
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .card-text {
      font-size: 10px;
      text-align: justify;
    }

    a.btn.btn-primary {
      background-color: #8e210b;
      border: none;
    }
  }
  .difficolta {
    width: 120px;
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: -3px;
  }
  .difficolta-title {
    margin-top: 0px;
    margin-bottom: -12px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 14px;
  }

  .visualizza {
    text-align: center;
    margin-bottom: -10px;
    margin-top: 20px;

    a.btn.btn-primary {
      width: 100%;
    }
  }

}


